<footer>
    <a href="/aboutus">About Us</a>
    <a href="/terms of use">Terms of Use</a>
    <a href="/privacy policy">Privacy Policy</a>
    <a href="/contact">Contact Us</a>
    <div>
    <p class="sign-off">
      All rights Reserved &copy; <%=new Date().getFullYear()%>.ConstructPro
  </p>
</div>
    
    
  </footer>
 