
 <nav class="nav">
  <img src="/Images/logo.png.png" alt="logo" id="logo"/>
    <ul>
      <li class="list-items"><a href="/">Home</a></li>
      <li class="list-items"><a href="/services">Services</a></li>
      <li class="list-items"><a href="/contact">Contact</a></li>
      <li class="list-items"><a href="/project-details">Project Details</a></li>
    </ul>
  </nav>