<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dream Home</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <%- include("_header.ejs") %>
   
   
    <header class="hero">
      <section class="hero__headings-container">
        <h3>Mange<span>Your</span></h3>
        <h1 class="hero__main-headings">
          DREAM <span class="main-span">PROJECT</span>
        </h1>
        <h3>With<span>Us</span></h3>
       
        <a href="/learnmore" class="main-btn">Learn More</a>
      </section>
    </header>

    <h1 class="main-headings center">
      OUR <span class="main-span">SERVICES</span>
    </h1>

    <!-- SERVICES -->
    <section class="services" id="services">
      <!-- CARDS -->
      <section class="cards">
        <div class="card">
          <div class="card-image img-one"></div>
          <p>PROJECT MANAGEMENT</p>
        </div>
        <div class="card">
          <div class="card-image img-two"></div>
          <p>BUDGET MANAGEMENT</p>
        </div>
        <div class="card">
          <div class="card-image img-three"></div>
          <p>CONSULTANCY</p>
        </div>
      </section>
    </section>

    <h1 class="main-headings">WHY CHOOSE<span class="main-span"> THE WEBSITE?</span></h1>

    <!-- WHY US -->
    <section class="why-us" id="why-us">
      <div class="lists-container">
        <div class="list">
          <div class="list-number">
            <p>1</p>
          </div>
          <p class="list-info">TRANSPARENCY AND VISIBILITY</p>
        </div>
        <div class="list">
          <div class="list-number">
            <p>2</p>
          </div>
          <p class="list-info">ADVANCE PLANING</p>
        </div>
        <div class="list">
          <div class="list-number">
            <p>3</p>
          </div>
          <p class="list-info">STABILITY RESOURCES </p>
        </div>
        <div class="list">
          <div class="list-number">
            <p>4</p>
          </div>
          <p class="list-info">PASSION, INTEGRITY, & PUNCTUALITY</p>
        </div>
        <div class="list">
          <div class="list-number">
            <p>5</p>
          </div>
          <p class="list-info">BREADTH OF SERVICES</p>
        </div>
      </div>
      <div class="owner-image-container">
        <div class="owner-image"></div>
      </div>
    </section>

    <h1 class="main-headings center">
      PROJECT <span class="main-span">#DETAILS</span>
    </h1>

    <!-- PROJECT DETAILS -->
    <section class="project-details" id="project-details">
      <section class="project-details__container-left">
        <div class="img-container">
          <div class="card-image project-details-img img-one"></div>
        </div>
        <section class="details">
          <p class="title">PROJECT MANAGEMENT</p>
          <div class="list">
            <div class="list-number">
              <p>1</p>
            </div>
            <p class="list-info">PROJECT CREATION</p>
          </div>
          <div class="list">
            <div class="list-number">
              <p>2</p>
            </div>
            <p class="list-info">CLIENT ASSIGNMENT</p>
          </div>
          <div class="list">
            <div class="list-number">
              <p>3</p>
            </div>
            <p class="list-info">PROJECT PROGRESS TRACKING</p>
          </div>
          <div class="list">
            <div class="list-number">
              <p>4</p>
            </div>
            <p class="list-info">
              REGULAR AND MONITORING PROGRESS.
            </p>
          </div>
          
        </section>
      </section>

      <section class="project-details__container-right">
        <section class="details">
          <p class="title">BUDGET MANAGEMENT</p>

          <div class="list">
            <div class="list-number">
              <p>1</p>
            </div>
            <p class="list-info">ESTABLISH PROJECT PLANNING</p>
          </div>
          <div class="list">
            <div class="list-number">
              <p>2</p>
            </div>
            <p class="list-info">TRACK ESTIMATED VS ACTUAL PLAN</p>
          </div>
          <div class="list">
            <div class="list-number">
              <p>3</p>
            </div>
            <p class="list-info">RECORD EXPENSES</p>
          </div>
          <div class="list">
            <div class="list-number">
              <p>4</p>
            </div>
            <p class="list-info">GENERATE REPORT AND ANALYTICS</p>
          </div>
          
        </section>
        <div class="img-container">
          <div class="card-image project-details-img img-two"></div>
        </div>
      </section>


      <section class="project-details__container-left">
        <div class="img-container">
          <div class="card-image project-details-img img-three"></div>
        </div>
        <section class="details">
          <p class="title">CONSULTANCY</p>
          <div class="list">
            <div class="list-number">
              <p>1</p>
            </div>
            <p class="list-info">
              LINKING UP WITH CONSTRUCTORS</p>
          </div>
          <div class="list">
            <div class="list-number">
              <p>2</p>
            </div>
            <p class="list-info">LINKING UP WITH ARCHITECTURE</p>
          </div>
          
        
        </section>
    </section>

   

    <%- include("_footer.ejs") %>
  </body>
</html>
