<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SIGN UP & SIGN IN</title>
  <link rel="stylesheet" href="styles/index.css">

</head>
<body>
  <h1>TO ACCESS MORE FEATURES YOU SHOULD SIGN UP</h1>
<!-- partial:index.partial.html -->


<%- include("login.ejs",) %>
<%- include("signup.ejs",) %>








</body>
</html>
