<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
    <link rel="stylesheet" href="Styles/style.css">
</head>
<body>
  <main>
    <%- include("_header.ejs") %>
    <h1 class="main-headings center">
        PROJECT <span class="main-span">#DETAILS</span>
      </h1>
  
      <!-- PROJECT DETAILS -->
      <section class="project-details" id="project-details">
        <section class="project-details__container-left">
          <div class="img-container">
            <div class="card-image project-details-img img-one"></div>
          </div>
          <section class="details">
            <p class="title">PROJECT MANAGEMENT</p>
            <div class="list">
              <div class="list-number">
                <p>1</p>
              </div>
              <p class="list-info">PROJECT CREATION</p>
            </div>
            <div class="list">
              <div class="list-number">
                <p>2</p>
              </div>
              <p class="list-info">CLIENT ASSIGNMENT</p>
            </div>
            <div class="list">
              <div class="list-number">
                <p>3</p>
              </div>
              <p class="list-info">PROJECT PROGRESS TRACKING</p>
            </div>
            <div class="list">
              <div class="list-number">
                <p>4</p>
              </div>
              <p class="list-info">
                REGULAR AND MONITORING PROGRESS.
              </p>
            </div>
            
          </section>
        </section>
  
        <section class="project-details__container-right">
          <section class="details">
            <p class="title">BUDGET MANAGEMENT</p>
  
            <div class="list">
              <div class="list-number">
                <p>1</p>
              </div>
              <p class="list-info">ESTABLISH PROJECT PLANNING</p>
            </div>
            <div class="list">
              <div class="list-number">
                <p>2</p>
              </div>
              <p class="list-info">TRACK ESTIMATED VS ACTUAL PLAN</p>
            </div>
            <div class="list">
              <div class="list-number">
                <p>3</p>
              </div>
              <p class="list-info">RECORD EXPENSES</p>
            </div>
            <div class="list">
              <div class="list-number">
                <p>4</p>
              </div>
              <p class="list-info">GENERATE REPORT AND ANALYTICS</p>
            </div>
            
          </section>
          <div class="img-container">
            <div class="card-image project-details-img img-two"></div>
          </div>
        </section>
  
  
        <section class="project-details__container-left">
          <div class="img-container">
            <div class="card-image project-details-img img-three"></div>
          </div>
          <section class="details">
            <p class="title">CONSULTANCY</p>
            <div class="list">
              <div class="list-number">
                <p>1</p>
              </div>
              <p class="list-info">
                LINKING UP WITH CONSTRUCTORS</p>
            </div>
            <div class="list">
              <div class="list-number">
                <p>2</p>
              </div>
              <p class="list-info">PARK VIEW CITY</p>
            </div>
            <div class="list">
              <div class="list-number">
                <p>3</p>
              </div>
              <p class="list-info">BEAUTY OF HILLS</p>
            </div>
            <div class="list">
              <div class="list-number">
                <p>4</p>
              </div>
              <p class="list-info">
                FAISAL MARGALLAH CITY.
              </p>
            </div>
          
          </section>
      </section>
    </main>
  
      <%- include("_footer.ejs") %>
</body>
</html>