<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="Styles/style.css">
</head>
<body>
  <%- include("_header.ejs") %>
  <main>
    <h1 class="main-headings center">
        OUR <span class="main-span">SERVICES</span>
      </h1>
  
      <!-- SERVICES -->
      <section class="services" id="services">
        <!-- CARDS -->
        <section class="cards">
          <div class="card">
            <div class="card-image img-one"></div>
            <p>Project Management</p>
          </div>
          <div class="card">
            <div class="card-image img-two"></div>
            <p>Budget Management</p>
          </div>
          <div class="card">
            <div class="card-image img-three"></div>
            <p>CONSULTANCY</p>
          </div>
        </section>
      </main>
      <%- include("_footer.ejs") %>
</body>
</html>